<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.roxiemobile.androidcommons"
    >

    <application>
        <activity android:name=".ui.activity.RootDrawerFragmentActivity_" />
        <activity android:name=".ui.activity.RootFragmentActivity_" />
    </application>

</manifest>
